
[*]

# Microsoft .NET properties
csharp_preferred_modifier_order = public, private, protected, internal, file, new, static, sealed, virtual, abstract, async, override, extern, unsafe, volatile, readonly, required:suggestion

# ReSharper properties
resharper_accessor_owner_body = accessors_with_expression_body
resharper_blank_lines_after_control_transfer_statements = 1
resharper_braces_for_foreach = required
resharper_braces_for_ifelse = required_for_multiline
resharper_braces_redundant = false
resharper_csharp_insert_final_newline = true
resharper_csharp_max_line_length = 123
resharper_force_attribute_style = join
resharper_instance_members_qualify_declared_in = base_class
resharper_parentheses_redundancy_style = remove
resharper_place_expr_accessor_on_single_line = true
resharper_place_expr_method_on_single_line = false
resharper_place_simple_embedded_statement_on_same_line = false
